<nav class="navbar navbar-default navbar-fixed-top normal" role="navigation">
  <div class="container">
    <div class="navbar-header">

    </div>
    <div class="navbar-collapse collapse">
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Home</a></li>
        <li><a href="/books">Inventory</a></li>
        <li><a href="/books/new">Login</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>